---
- name: Apply interface intent
  cisco.ios.ios_config:
    parents: "interface {{ item.name }}"
    lines: >-
      {{
        [
          ('description ' ~ item.description)
            if item.description is defined else omit,

          ('no shutdown' if item.enabled | default(false) else 'shutdown'),

          ('mtu ' ~ item.mtu)
            if item.mtu is defined else omit,

          ('speed ' ~ item.speed)
            if item.speed is defined else omit,

          ('duplex ' ~ item.duplex)
            if item.duplex is defined else omit,

          ('no switchport'
            if item.mode | default('routed') == 'routed' else 'switchport'),

          ('vrf forwarding ' ~ item.vrf)
            if item.vrf is defined and item.vrf else omit,

          ('ip address ' ~ item.ipv4.address ~ ' ' ~ item.ipv4.mask)
            if item.ipv4 is defined and item.ipv4.address else omit,

          ('logging event link-status')
            if item.logging_event_link | default(false) else omit
        ]
        | reject('equalto', omit)
        | list
      }}
  loop: "{{ interfaces }}"
  loop_control:
    label: "{{ item.name }}"
  register: apply_result
