---
#roles/vlan/tasks/main.yml
- name: Render VLAN config from template into a variable
  ansible.builtin.set_fact:
    vlans_cfg: "{{ lookup('template', '../templates/vlans.j2') }}"
  vars:
    ansible_python_interpreter: "{{ ansible_python_interpreter | default(omit) }}"

- name: Push VLAN configuration to device (from rendered template)
  cisco.ios.ios_config:
    lines: "{{ vlans_cfg.splitlines() }}"
    backup: no
    save_when: modified
  when: vlans_cfg is defined and vlans_cfg | length > 0

# - name: Show backup path returned by module
#   debug:
#     var: ios_cfg_result.backup

# - name: Copy backup from controller to persistent location (example)
#   delegate_to: localhost
#   ansible.builtin.copy:
#     src: "{{ ios_cfg_result.backup }}"
#     dest: "/srv/ansible_backups/{{ inventory_hostname }}-{{ ansible_date_time.iso8601 }}.cfg"
#   when: ios_cfg_result.backup is defined


- name: Verify VLAN configuration (show vlan brief)
  cisco.ios.ios_command:
    commands:
      - show vlan brief
  register: vlan_show
  changed_when: false

- name: Display VLAN verification output
  ansible.builtin.debug:
    var: vlan_show.stdout_lines
