---
- name: Backup running config locally
  cisco.ios.ios_config:
    backup: yes
    backup_options:
      filename: "{{ inventory_hostname }}.cfg"
      dir_path: /tmp

- name: Upload backup to SFTP server
  delegate_to: cloud
  ansible.builtin.command: >
    scp {{ backup_local_tmp }}
    {{ ansible_user }}@{{ backup_sftp_host }}:
    {{ backup_remote_dir }}/{{ inventory_hostname }}-{{ backup_timestamp }}.cfg
  no_log: true

- name: Cleanup local temp file
  delegate_to: localhost
  file:
    path: "{{ backup_local_tmp }}"
    state: absent
