---
- name: Backup running config locally on AWX node
  cisco.ios.ios_config:
    backup: yes
    backup_options:
      filename: "{{ inventory_hostname }}-{{ backup_timestamp }}.cfg"
      dir_path: /tmp
  register: backup_result

- name: Upload config to SFTP server
  ansible.builtin.expect:
    command: >
      sftp
      -o StrictHostKeyChecking=no
      -o UserKnownHostsFile=/dev/null
      {{ sftp_username }}@{{ sftp_host }}:/ios/
    responses:
      (?i)password: "{{ sftp_password }}"
      sftp>:
        - "put {{ backup_result.backup_path }}"
        - "bye"
  delegate_to: localhost

- name: Cleanup local backup file
  ansible.builtin.file:
    path: "{{ backup_result.backup_path }}"
    state: absent
  delegate_to: localhost
