---
- name: Backup running config locally
  cisco.ios.ios_config:
    backup: yes
    backup_options:
      filename: "{{ inventory_hostname }}.cfg"
      dir_path: /tmp

- name: Upload backups to SFTP
  hosts: sftp-server
  gather_facts: no
  vars_files:
    - "../host_vars/sftp-server.yml"
  tasks:
    - name: Upload config files
      ansible.builtin.copy:
        src: "/tmp/{{ inventory_hostname }}.cfg"
        dest: "/ios/backups/{{ inventory_hostname }}.cfg"
        mode: '0644'
        directory_mode: '0755'
      loop: "{{ groups['ansible_backup_hosts'] }}"

- name: Cleanup local temp file
  delegate_to: localhost
  file:
    path: "{{ backup_local_tmp }}"
    state: absent
