---
- name: Backup running config locally
  cisco.ios.ios_config:
    backup: yes
    backup_options:
      filename: "{{ inventory_hostname }}.cfg"
      dir_path: /tmp

- name: Upload backups to SFTP
  hosts: sftp
  gather_facts: no
  tasks:
    - name: Upload config files
      ansible.builtin.copy:
        src: "/tmp/"
        dest: "/ios/"
        mode: '0644'

- name: Cleanup local temp file
  delegate_to: localhost
  file:
    path: "{{ backup_local_tmp }}"
    state: absent
