---
- name: Backup running config locally
  cisco.ios.ios_config:
    backup: yes
    backup_options:
      filename: "{{ inventory_hostname }}.cfg"
      dir_path: /tmp

- name: Upload backup to SFTP server
  delegate_to: cloud
  ansible.builtin.sftp:
    src: "{{ backup_local_tmp }}"
    dest: "{{ backup_remote_dir }}/{{ inventory_hostname }}-{{ backup_timestamp }}.cfg"
    mode: put
    username: "{{ backup_sftp_user }}"
    password: "{{ backup_sftp_password }}"
    host: "{{ backup_sftp_host }}"

- name: Cleanup local temp file
  delegate_to: localhost
  file:
    path: "{{ backup_local_tmp }}"
    state: absent
