snmp-server view {{ snmp_view }} iso included
snmp-server group {{ snmp_group_name }} v3 priv read {{ snmp_view }}
snmp-server user {{ snmp_user }} {{ snmp_group_name }} v3 auth {{ snmp_auth_algo }} {{ snmp_auth_key }} priv {{ snmp_priv_algo }} {{ snmp_priv_key }} 

ip access-list standard {{ snmp_acl }}
 permit 10.10.40.0 0.0.0.255
 deny any log
 exit

snmp-server community public RO {{ snmp_acl }}
snmp-server community private RW {{ snmp_acl }}

snmp-server enable traps syslog
snmp-server enable traps ospf
snmp-server enable traps ethernet evc
snmp-server enable traps snmp

{% for host in nms_hosts %}
snmp-server host {{ host }} version 3 priv {{ snmp_user }}
{% endfor %}

snmp-server contact {{ snmp_contact }}
snmp-server location {{ snmp_location }}
