---
- name: Backup running config locally on AWX node
  cisco.ios.ios_config:
    backup: yes
    backup_options:
      filename: "{{ inventory_hostname }}-{{ backup_timestamp }}.cfg"
      dir_path: /tmp
  register: backup_result
  # keep the backup_result for later tasks
