---
- name: Restore config using configure replace
  cisco.ios.ios_command:
    commands:
      - "configure replace flash:{{ backup_filename }} force"

- name: Save running-config to startup-config
  cisco.ios.ios_command:
    commands:
      - write memory
