---
- name: Check device reachability
  cisco.ios.ios_command:
    commands: ["show version"]
  register: device_reachable
  failed_when: device_reachable.failed

- name: Check SFTP server reachability
  ansible.builtin.wait_for:
    host: "{{ sftp_host }}"
    port: 22
    timeout: 5
  delegate_to: localhost

- name: Ensure /tmp directory exists on AWX node
  ansible.builtin.file:
    path: "/tmp"
    state: directory
  delegate_to: localhost
