---
- name: Backup Cisco IOS config to SFTP server
  hosts: Test-IOS-XE-ISRV
  gather_facts: no
  connection: network_cli

  vars:
    ansible_network_os: cisco.ios.ios
    timestamp: "{{ lookup('pipe', 'date +%Y%m%d-%H%M%S') }}"
    local_tmp: "/tmp/{{ inventory_hostname }}.cfg"

  roles:
    - role: ios_common/backup
