---
- name: Backup Cisco IOS config to SFTP server
  hosts: tenants_test-env
  gather_facts: no
  connection: network_cli

  vars_files:
    - "../group_vars/all.yml"
    - "../host_vars/sftp-server.yml"

  vars:
    ansible_network_os: cisco.ios.ios
    timestamp: "{{ lookup('pipe', 'date +%Y%m%d-%H%M%S') }}"
    local_tmp: "/tmp/{{ inventory_hostname }}.cfg"

  tasks:
    - name: Run IOS common backup role
      import_role:
        name: backup
        role_path: roles/ios_common
