---
- name: Render intended config
  template:
    src: base_config.j2
    dest: "/tmp/{{ inventory_hostname }}-intended.cfg"

- name: Get running config
  cisco.ios.ios_command:
    commands: show running-config
  register: running_cfg

- name: Compare running vs intended
  community.general.diff:
    src: "/tmp/{{ inventory_hostname }}-intended.cfg"
    dest: "/tmp/{{ inventory_hostname }}-running.cfg"
  register: cfg_diff

- name: Fail if drift detected
  fail:
    msg: "Compliance drift on {{ inventory_hostname }}: {{ cfg_diff.diff }}"
  when: cfg_diff.changed
