---
- name: Render intended config
  ansible.builtin.template:        
    src: base_config.j2
    dest: "/tmp/{{ inventory_hostname }}-intended.cfg"

- name: Get running config
  cisco.ios.ios_command:           
    commands: show running-config
  register: backup_running_cfg      

- name: Save running config to file
  ansible.builtin.copy:            
    content: "{{ backup_running_cfg.stdout[0] }}"
    dest: "/tmp/{{ inventory_hostname }}-running.cfg"
    mode: '0644'

- name: Compare running vs intended
  community.general.compare:       
    src: "/tmp/{{ inventory_hostname }}-intended.cfg"
    dest: "/tmp/{{ inventory_hostname }}-running.cfg"
  register: cfg_diff

- name: Fail if drift detected
  ansible.builtin.fail:           
    msg: "Compliance drift on {{ inventory_hostname }}: {{ cfg_diff.diff }}"
  when: cfg_diff.changed

- name: Configure login banner from file
  ios_config:
    src: banner.txt
    save_when: modified
