---
- name: Render interface configs
  template:
    src: interface.j2
    dest: "/tmp/{{ inventory_hostname }}-interfaces.cfg"

- name: Push interface configuration
  when: commit
  cisco.ios.ios_config:
    src: "/tmp/{{ inventory_hostname }}-interfaces.cfg"
    save_when: modified

- name: Validate configuration (check mode)
  when: not commit
  cisco.ios.ios_config:
    src: "/tmp/{{ inventory_hostname }}-interfaces.cfg"
    save_when: never
    diff_against: running
